@import "tailwindcss";

@layer components {
  .nav-div {
    @apply flex flex-row items-center justify-between relative px-3 py-2 bg-white;
  }

  .app-title {
    @apply absolute left-1/2 -translate-x-1/2 font-bold text-[20px];
  }

  .logout-btn {
    @apply bg-red-500 rounded px-4 py-2 hover:bg-red-600 active:bg-red-700;
  }
}
