services:
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    ports:
      - "3000:3000"
    command: npm run dev
    depends_on:
      - backend
    environment:
      - NODE_ENV=development

  backend:
    build: ./backend
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
    ports:
      - "3001:3001"
    environment:
      - DATABASE_URL=mysql://root:password@mysqldb:3306/todowinndb
    depends_on:
      - mysqldb

  mysqldb:
    image: mysql:8
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: todowinndb
    volumes:
      - db_data:/var/lib/mysql

  # nginx:
  #   image: nginx:latest
  #   container_name: nginx
  #   ports:
  #     - "8080:80" # Local port
  #   volumes:
  #     - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
  #   depends_on:
  #     - frontend
  #     - backend

  # ngrok:
  #   image: ngrok/ngrok:latest
  #   container_name: ngrok
  #   command: http nginx:80
  #   environment:
  #     - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
  #   depends_on:
  #     - nginx

volumes:
  db_data:
  backend_node_modules:
  frontend_node_modules:
